<configuration>
  <appSettings>
    <add key="CM_URL"   value ="http://cmmthdvt01:8000"/>
    <add key="AdminUserName" value =".\WcsAdmin"/>
    <add key="Password" value ="$pl3nd1D"/>
    <add key="LabDomainTestUser" value="WcsTestUser"/>
    <add key="LabDomainName" value="WCS"/>
    
    <add key ="JbodCount" value="10"/>
    <add key ="ProcessorCount" value="2"/>
    <add key ="DIMMsCount" value="16"/>
    <add key ="PCIeCount" value="13"/>
    
    <!-- Firmware Version and HardWare Version-->
    <add key ="FirmwareVersion" value="1B.06"/>
    <add key ="HardwareVersion" value="E1000"/>
    
    <!--Getting Server Serial Numers-->
    <add key="7" value="N/A"/>
    <add key="8" value="N/A"/>
    <add key ="11" value="QTFCJA4210033"/>
    <add key="19" value="N/A"/>
    <add key="20" value="N/A"/>
    <add key="21" value="N/A"/>
    <add key="22" value="N/A"/>

  
    </appSettings>
</configuration>
